/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 55px;
  .header_inner {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin: 12px 0 0 15px;
    img {
    }
  }
  .menu {
    position: relative;
    background: #000;
    width: 55px;
    height: 55px;
    span {
      position: absolute;
      top: 16px;
      left: 0;
      right: 0;
      display: inline-block;
      background: #fff;
      width: 15px;
      height: 2px;
      margin: auto;
      transition: 0.3s;
      &.line-t.show {
        top: 22px;
        transform: rotate(-32deg);
      }
      &.line-m {
        top: 22px;
        &.show {
          opacity: 0;
        }
      }
      &.line-b {
        top: 28px;
        &.show {
          top: 22px;
          transform: rotate(32deg);
        }
      }
    }
    p {
      color: #fff;
      padding: 35px 0 0;
      font-size: 10px;
      text-align: center;
    }
  }
  nav {
    display: none;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* footer
==================================*/
footer {
  background: #ffffff;
  .footer_inner{
    .banner_section{
      background-color: #2f2f2f;
      .container{
        max-width: 1400px;
        padding-right: 0;
        padding-left: 0;
        &.row{
          align-items: center;
          .col{
            width: 100%;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-left: 20px;
            padding-right: 20px;
            &:first-child{
              border-bottom: 1px solid #585959;
              p{
                &:first-child{
                  @include Noto_Serif(300);
                  font-size: 15px;
                  text-align: left;
                  color: #dedede;
                  margin-bottom: 10px;
                  line-height: 27px;
                  br{
                    display: block;
                  }
                }
                &:nth-of-type(2){
                  @include Marcellus(400);
                  font-size: 28px;
                  text-align: left;
                  color: #fff;
                  margin-bottom: 25px;
                  letter-spacing: .16em;
                  span{
                    @include Marcellus(400);
                    font-size: 19px;
                    color: #fff;
                  }
                }
              }
              a{
                @include Marcellus(400);
                font-size: 20px;
                text-align: center;
                color: #fff;
                background-color: #585959;
                display: block;
                max-width: 100%;
                margin: 0 auto;
                padding: 22.5px 0;
                position: relative;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #949798;
                  position: absolute;
                  top: 50%;
                  right: 30px;
                  transform: translate(0, -50%);
                }
              }
            }
            &:last-child{
              h5{
                @include Marcellus(400);
                font-size: 25px;
                text-align: left;
                color: #fff;
                margin-bottom: 20px;
              }
              p{
                @include Noto_Serif(300);
                font-size: 18px;
                text-align: left;
                color: #fff;
                line-height: 40px;
                margin-bottom: 30px;
                span{
                  @include Noto_Serif(300);
                  font-size: 15px;
                  color: #fff;
                  line-height: 25px;
                }
              }
              a{
                @include Marcellus(400);
                font-size: 20px;
                text-align: center;
                color: #fff;
                border: 1px solid #949798;
                display: block;
                max-width: 100%;
                margin: 0 auto;
                padding: 22.5px 0;
                position: relative;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #949798;
                  position: absolute;
                  top: 50%;
                  right: 30px;
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
    .logo{
      padding-top: 42.5px;
      padding-bottom: 22.5px;
      a{
        img{
          width: 161px;
        }
      }
    }
    .footer_nav{
      display: none;
    }
    .footer_deatils{
      margin-top: 20px;
      margin-bottom: 25px;
      &.container{
        .row{
          background-color: #f4f5f5;
          padding-right: 25px;
          padding-left: 25px;
          padding-top: 45px;
          padding-bottom: 45px;
          .col{
            width: 100%;
            padding: 0 7px;
            &:first-child{
              padding-right: 10px;
              border-bottom: 1px solid #dee0e0;
              padding-bottom: 37.5px;
              h3{
                @include Noto_Serif(300);
                font-size: 18px;
                color: #565656;
                text-align: left;
                line-height: 24px;
                margin-bottom: 25px;
                span{
                  @include Noto_Serif(300);
                  font-size: 12px;
                  color: #565656;
                }
              }
              p{
                @include Noto_Serif(300);
                font-size: 13px;
                color: #565656;
                text-align: left;
                line-height: 23px;

                &:nth-of-type(1){
                  br{
                    display: none;
                    @include is-max(500px){
                      display: block;
                    }
                  }
                }

                &:nth-of-type(2){
                  text-indent: -43px;
                  margin-left: 43px;

                  br{
                    display: none;
  
                    &:nth-of-type(2){
                      display: block;
                    }

                    @include is-max(500px){
                      display: block;
                    }
                  }
                }
              }
            }
            &:last-child{
              padding-top: 37.5px;
              h3{
                @include Noto_Serif(300);
                font-size: 18px;
                color: #565656;
                text-align: left;
                line-height: 24px;
                margin-bottom: 25px;
                span{
                  @include Noto_Serif(300);
                  font-size: 12px;
                  color: #565656;
                }
              }
              p{
                @include Noto_Serif(300);
                font-size: 13px;
                color: #565656;
                text-align: left;
                line-height: 23px;

                &:nth-of-type(2){
                  text-indent: -43px;
                  margin-left: 43px;
                }
                br{
                  display: none;

                  &:nth-of-type(2){
                    display: block;

                    @include is-max(500px){
                      display: block;
                    }
                  }

                  @include is-max(500px){
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    .copy{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
      padding-bottom: 30px;
      a{
        @include Noto_Serif(300);
        font-size: 12px;
        color: #565656;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 3px; 
      }
      small{
        @include Marcellus(400);
        font-size: 12px;
        color: #161616;
        margin-left: 30px;
        margin-bottom: 3px;

        @include is-max(500px){
          width: 100%;
          margin-left: 0;
          margin-bottom: 0;
          margin-top: 20px;
        }
      }
    }
    .footer_btn{
      display: flex;
      a{
        width: 50%;
        display: block;
        text-align: center;
        @include Marcellus(400);
        font-size: 17px;
        color: #ffffff;
        background-color: #65696a;
        padding: 20px 0;
        &:first-child{
          border-right: 1px solid #949798;
        }
        span{
          @include Marcellus(400);
          font-size: 11px;
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
