/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 55px;
  transition: .3s ease;
  &.scroll{
    .header_inner{
      &::before{
        height: 0;
      }
      &.row{
        // align-items: center;
        padding-bottom: 15px;
        .right{
          .menu{
            p{
              padding: 12px 0 0;
            }
          }
        }
      }
    }
  }
  .header_inner{
    height: 100%;
    &::before{
      content: "";
      transition: .3s ease;
      display: block;
      width: 170px;
      height: 75px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &.container{
      max-width: 1400px;
    }
    &.row{
      transition: .3s ease;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 7px;
      .left{
        .logo{
          a{
            img{
              width: 133px;
            }
          }
        }
      }
      .right{
        ul{
          list-style: none;
          li{
            position: relative;
            display: inline-block;
            margin-left: 25px;
            &:last-child{
              margin-left: 55px;
            }
            &::after{
              content: "";
              display: block;
              width: 100%;
              height: 20px;
              position: absolute;
            }
            &:not(:last-child){
              @include is-max(950px){
                display: none;
              }
            }
            &:hover{
              .sub_menu{
                display: block
              }
            }
            a{
              @include Marcellus(400);
              font-size: 16px;
              color: #161616;
            }
            .menu {
              position: relative;
              // background: red;
              width: 45px;
              // height: 30px;
              cursor: pointer;
              transition: .3s ease;
              span {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: inline-block;
                background: #000;
                width: 45px;
                height: 2px;
                margin: auto;
                transition: 0.3s;
                &.line-t.show {
                  top: 5px;
                  transform: rotate(-32deg);
                }
                // &.line-m {
                //   top: 22px;
                //   &.show {
                //     opacity: 0;
                //   }
                // }
                &.line-b {
                  top: 10px;
                  // &.show {
                  //   top: 22px;
                  //   transform: rotate(32deg);
                  // }
                }
              }
              p {
                // color: transparent;
                padding: 20px 0 0;
                font-size: 10px;
                text-align: center;
                transition: .3s ease;
              }
            }
            .sub_menu{
              display: none;
              list-style: none;
              position: absolute;
              bottom: -125px;
              left: 0;
              background-color: #f4f5f5;
              white-space: nowrap;
              padding: 5px 20px;
              li{
                display: block;
                margin: 0;
                padding: 15px 5px;

                &:not(:last-child){
                  border-bottom: 1px solid #dddddd;
                }

                a{
                  @include Marcellus(400);
                  font-size: 15px;
                  color: #161616;
                }
              }
            }
          }
        }
      }
      .btn_reserve{
        display: none;
      }
    }
  }
  .big_menu{
    overflow: auto;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    backdrop-filter: blur(3px);
    transition: all 300ms ease-in;
    .overlay{
      display: none;
    }
    &.active{
      height: 100%;
    }
    .float_menu{
      box-sizing: border-box;
      width: 100%;
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1001;
      padding-left: 30px;
      padding-top: 75px;
      padding-bottom: 200px;
      .row{
        width: 100%;
        .col{
          list-style: none;
          padding-top: 20px;
          &:first-child{
            border-right: 1px solid #e6e6e6;
            width: 55%;
          }
          &:last-child{
            padding-left: 25px;
            width: 45%;
          }
          li{
            display: block;
            &:not(:last-child){
              margin-bottom: 35px;
            }
            a{
              display: flex;
              flex-direction: column;
              @include Marcellus(400);
              font-size: 19px;
              color: #161616;
              span{
                @include Noto_Serif(300);
                font-size: 10px;
                color: #161616;
              }
            }
            .submenu{
              padding-left: 30px;
              padding-top: 10px;
              li{
                position: relative;
                margin-bottom: 15px;
                &::before{
                  content: "";
                  display: block;
                  width: 8px;
                  height: 1px;
                  background-color: #c2c6c6;
                  position: absolute;
                  left: -30px;
                  bottom: 13px;
                }
              }
            }
          }
        }
      }
      .btn_cont{
        box-sizing: border-box;
        padding-right: 20px;
        width: 100%;
        margin-top: 50px;
        p{
          @include Marcellus(400);
          font-size: 20px;
          color: #161616;
          padding-left: 5px;
          span{
            @include Marcellus(400);
            font-size: 14px;
            color: #161616;
          }
        }
        a{
          display: block;
          width: 100%;
          text-align: center;
          @include Marcellus(400);
          font-size: 17px;
          color: #fff;
          background-color: #65696a;
          padding: 20px 0;
          position: relative;
          margin-top: 20px;
          transition: .3s ease;
          &:hover{
            color: #65696a;
            background-color: #fff;
            border: 1px solid #65696a;
          }
          &::after{
            content: "";
            display: block;
            width: 30px;
            height: 1px;
            background-color: #949798;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
          }
        }
      }
      .menu {
        position: absolute;
        right: 20px;
        top: 30px;
        width: 45px;
        z-index: 1004;
        cursor: pointer;
        span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          display: inline-block;
          background: #000;
          width: 45px;
          height: 2px;
          margin: auto;
          transition: 0.3s;
          &.line-t{
            top: 20px;
            transform: rotate(140deg);
          }
          // &.line-m {
          //   top: 22px;
          //   &.show {
          //     opacity: 0;
          //   }
          // }
          &.line-b {
            top: 21px;
            transform: rotate(-140deg);
            // top: 20px;
            // &.show {
            //   top: 22px;
            //   transform: rotate(32deg);
            // }
          }
        }
        p {
          // color: transparent;
          padding: 44px 0 0;
          font-size: 10px;
          text-align: center;
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  background: #ffffff;
  .footer_inner{
    .banner_section{
      background-color: #2f2f2f;
      .container{
        max-width: 1400px;
        padding-right: 0;
        padding-left: 0;
        &.row{
          align-items: center;
          .col{
            width: 100%;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-left: 20px;
            padding-right: 20px;
            &:first-child{
              border-bottom: 1px solid #585959;
              p{
                &:first-child{
                  @include Noto_Serif(300);
                  font-size: 15px;
                  text-align: left;
                  color: #dedede;
                  margin-bottom: 10px;
                  line-height: 27px;
                  br{
                    display: block;
                  }
                }
                &:nth-of-type(2){
                  @include Marcellus(400);
                  font-size: 28px;
                  text-align: left;
                  color: #fff;
                  margin-bottom: 25px;
                  letter-spacing: .16em;
                  span{
                    @include Marcellus(400);
                    font-size: 19px;
                    color: #fff;
                  }
                }
              }
              a{
                @include Marcellus(400);
                font-size: 20px;
                text-align: center;
                color: #fff;
                background-color: #585959;
                display: block;
                max-width: 100%;
                margin: 0 auto;
                padding: 22.5px 0;
                position: relative;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #949798;
                  position: absolute;
                  top: 50%;
                  right: 30px;
                  transform: translate(0, -50%);
                }
              }
            }
            &:last-child{
              h5{
                @include Marcellus(400);
                font-size: 25px;
                text-align: left;
                color: #fff;
                margin-bottom: 20px;
              }
              p{
                @include Noto_Serif(300);
                font-size: 18px;
                text-align: left;
                color: #fff;
                line-height: 40px;
                margin-bottom: 30px;
                span{
                  @include Noto_Serif(300);
                  font-size: 15px;
                  color: #fff;
                  line-height: 25px;
                  display: block;
                }
              }
              a{
                @include Marcellus(400);
                font-size: 20px;
                text-align: center;
                color: #fff;
                border: 1px solid #949798;
                display: block;
                max-width: 100%;
                margin: 0 auto;
                padding: 22.5px 0;
                position: relative;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #949798;
                  position: absolute;
                  top: 50%;
                  right: 30px;
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
    .logo{
      padding-top: 42.5px;
      padding-bottom: 22.5px;
      a{
        img{
          width: 161px;
        }
      }
    }
    .footer_nav{
      position: relative;
      ul{
        display: none;
      }
      img{
        width: 9px;
        position: absolute;
        top: -35px;
        right: 30px;
      }
    }
    .footer_deatils{
      margin-top: 20px;
      margin-bottom: 25px;
      &.container{
        .row{
          background-color: #f4f5f5;
          padding-right: 25px;
          padding-left: 25px;
          padding-top: 45px;
          padding-bottom: 45px;
          .col{
            width: 100%;
            padding: 0 7px;
            &:first-child{
              padding-right: 10px;
              border-bottom: 1px solid #dee0e0;
              padding-bottom: 37.5px;
              h3{
                @include Noto_Serif(300);
                font-size: 18px;
                color: #565656;
                text-align: left;
                line-height: 24px;
                margin-bottom: 25px;
                span{
                  @include Noto_Serif(300);
                  font-size: 12px;
                  color: #565656;
                }
              }
              p{
                @include Noto_Serif(300);
                font-size: 13px;
                color: #565656;
                text-align: left;
                line-height: 23px;

                &:nth-of-type(1){
                  br{
                    display: none;
                    @include is-max(500px){
                      display: block;
                    }
                  }
                }

                &:nth-of-type(2){
                  text-indent: -43px;
                  margin-left: 43px;

                  br{
                    display: none;
  
                    &:nth-of-type(2){
                      display: block;
                    }

                    @include is-max(500px){
                      display: block;
                    }
                  }
                }
              }
            }
            &:last-child{
              padding-top: 37.5px;
              h3{
                @include Noto_Serif(300);
                font-size: 18px;
                color: #565656;
                text-align: left;
                line-height: 24px;
                margin-bottom: 25px;
                span{
                  @include Noto_Serif(300);
                  font-size: 12px;
                  color: #565656;
                }
              }
              p{
                @include Noto_Serif(300);
                font-size: 13px;
                color: #565656;
                text-align: left;
                line-height: 23px;

                &:nth-of-type(2){
                  text-indent: -43px;
                  margin-left: 43px;
                }
                br{
                  display: none;

                  &:nth-of-type(2){
                    display: block;

                    @include is-max(500px){
                      display: block;
                    }
                  }

                  @include is-max(500px){
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    .copy{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
      padding-bottom: 30px;
      a{
        @include Noto_Serif(300);
        font-size: 12px;
        color: #565656;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 3px; 
      }
      small{
        @include Marcellus(400);
        font-size: 12px;
        color: #161616;
        margin-left: 30px;
        margin-bottom: 3px;

        @include is-max(500px){
          width: 100%;
          margin-left: 0;
          margin-bottom: 0;
          margin-top: 20px;
        }
      }
    }
    .footer_btn{
      display: flex;
      a{
        width: 50%;
        display: block;
        text-align: center;
        @include Marcellus(400);
        font-size: 17px;
        color: #ffffff;
        background-color: #65696a;
        padding: 20px 0;
        transition: .3s ease;
        // &:hover{
        //   background-color: #fff;
        //   color: #65696a;
        // }
        &:first-child{
          border-right: 1px solid #949798;
        }
        span{
          @include Marcellus(400);
          font-size: 11px;
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
