/*==================================
  Access
==================================*/
#Topics_content main {
  .jumbo_sect{
    .wrapper{
      .container{
        .breadcrumb{
          li{
            &:last-child{
              a{
                @include Noto_Serif(400);
                color: #565656;
              }
            }
          }
        }
      }
    }
  }
  .sect_1{
    .wrapper{
      padding-bottom: 70px;
      .container{
        .post_title{
          @include Noto_Serif(300);
          font-size: 20px;
          color: #161616;
          margin-bottom: 35px;
        }
        .row{
          .col{
            &:nth-of-type(1){
              width: 100%;
              padding-bottom: 40px;
              img{
                width: 70%;
              }
            }
            &:nth-of-type(2){
              width: 100%;
              
              .post_info{
                margin-bottom: 25px;
                .post_cat{
                  @include Marcellus(400);
                  font-size: 11px;
                  color: #161616;
                  padding-right: 10px;
                  margin-right: 5px;
                  border-right: 1px solid #d0d0d0;
                }
                .post_date{
                  @include Marcellus(400);
                  font-size: 10px;
                  color: #565656;
                }
              }
              .post_content{
                @include Noto_Serif(300);
                font-size: 16px;
                color: #565656;
                line-height: 28.8px;
                text-align: justify;
              }
            }
            &:nth-of-type(3){
              width: 100%;
              padding-top: 40px;
              a{
                position: relative;
                display: block;
                width: 201px;
                text-align: center;
                border: 1px solid #dddddd;
                padding: 18px 0;
                @include Marcellus(400);
                font-size: 15px;
                color: #565656;
                transition: .3s ease;
                &:hover{
                  color: #fff;
                  &::before{
                    width: 100%;
                  }
                  &::after{
                    background-color: #fff;
                  }
                }
                &::after{
                  content: "";
                  display: block;
                  width: 20px;
                  height: 1px;
                  background-color: #dddddd;
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translate(0, -50%);
                }
                &::before{
                  content: "";
                  transition: .3s ease;
                  display: block;
                  width: 0%;
                  height: 100%;
                  background-color: #585959;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  z-index: -1;
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
  }
}
