/*==================================
  Top
==================================*/
#Top main {
  .sect_1{
    .wrapper{
      // margin-top: 120px;
      padding-right: 0;
      padding-left: 50px;
      .container{
        height: 440px;
        padding-right: 0;
        padding-left: 0;
        background-image: url(../images/top/sp/section_1/main.png);
        background-size: cover;
        background-position: center center;
        // img{
        //   width: 100%;
        // }
      }
    }
  }

  .sect_2{
    .wrapper{
      padding-top: 90px;
      .container{
        max-width: 1400px;
        padding-right: 0;
        padding-left: 65px;
        position: relative;
        span{
          @include Marcellus(400);
          font-size: 21px;
          letter-spacing: .08em;
          color: #161616;
          position: absolute;
          top: -30px;
          left: 15px;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          opacity: 1;
        }
        .swiper{
          // margin-left: 170px;
          .swiper-wrapper{
            height: auto;
            .swiper-slide{
              .post_cat{
                p{
                  @include Marcellus(400);
                  font-size: 14px;
                  color: #161616;
                  text-align: left;
                  margin-bottom: 10px;
                }
              }
              .post_img{
                img{
                  width: 100%;
                }
              }
              .post_title{
                p{
                  @include Noto_Serif(300);
                  font-size: 16px;
                  color: #565656;
                  text-align: left;
                  margin-bottom: 15px;
                  margin-top: 22.5px;
                }
              }
              .post_date{
                p{
                  @include Marcellus(400);
                  font-size: 11px;
                  color: #161616;
                  text-align: left;
                }
              }
            }
          }
        }
        .swiper-button-next{
          top: 35%;
          right: 20%;
          width: 45px;

          @include is-max(600px){
            right: 15%;
          }
          @include is-max(425px){
            right: 11%;
          }
          @include is-max(375px){
            right: 9%;
          }
          &::after{
            content: "";
          }
          
        }
        .swiper-button-prev{
          width: 45px;
          left: 30px;
          top: 35%;
          &::after{
            content: "";
          }
          img{
            transform: scaleX(-1);
          }
        }
        .btn_viewmore{
          display: block;
          width: 201px;
          text-align: center;
          @include Marcellus(400);
          font-size: 15px;
          color: #565656;
          border: 1px solid #dddddd;
          padding: 20px 0;
          position: relative;
          margin-top: 35px;
          transition: .3s ease;
          &:hover{
            color: #fff;
            &::before{
              width: 100%;
            }
            &::after{
              background-color: #fff;
            }
          }
          &::after{
            content: "";
            display: block;
            transition: .3s ease;
            width: 20px;
            height: 1px;
            background-color: #dddddd;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
          }
          &::before{
            content: "";
            transition: .3s ease;
            display: block;
            width: 0;
            height: 100%;
            background-color: #585959;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
            transform: translate(0, -50%);
          }
        }
      }
    } 
  }

  .sect_3{
    .wrapper{
      padding-top: 80px;
      .container{
        max-width: 1300px;
        padding-right: 0;
        padding-left: 0;
        .row{
          justify-content: space-between;
          .col{
            position: relative;
            
            &:first-child{
              position: relative;
              z-index: 2;
              width: 100%;
              padding-left: 65px;
              padding-right: 0;
              padding-bottom: 40px;
              .txt_about{
                @include Marcellus(400);
                font-size: 21px;
                letter-spacing: .08em;
                color: #161616;
                position: absolute;
                top: -20px;
                left: 15px;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                opacity: 1;
              }
              h3{
                @include Noto_Serif(300);
                font-size: 19px;
                text-align: left;
                line-height: 34px;
                margin-bottom: 25px; 
              }
              p{
                @include Noto_Serif(300);
                font-size: 16px;
                text-align: left;
                line-height: 38.4px;
                margin-bottom: 57px;
                padding-right: 20px;
                padding-left: 7px;
              }
              ul{
                list-style: none;
                li{
                  margin-bottom: 20px;
                  &:not(:last-child){
                    &::after{
                      content: "";
                      display: block;
                      width: 100%;
                      height: 1px;
                      background-color: #c2c6c6;
                      transition: all 200ms linear;
                      z-index: 2;
                      margin-top: 15px;
                    }
                  }
                  
                  a{
                    position: relative;
                    p{
                      @include Noto_Serif(300);
                      font-size: 10px;
                      text-align: left;
                      color: #161616;
                      margin-bottom: 0;
                      padding-right: 0;
                      line-height: 20px;
                      padding-left: 5px;
                      span{
                        @include Marcellus(400);
                        font-size: 20px;
                        color: #161616;
                        margin-right: 20px;
                      }
                    }
                  }
                }
              }
            }
            &:last-child{
              width: 100%;
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .sect_4{
    background-color: #6a6b6b;
    .wrapper{
      position: relative;
      .container{
        padding-right: 0;
        padding-left: 0;
        &.row{
          .col{
            position: relative;
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 50px;
            padding-bottom: 35px;
            &:hover{
              background-color: #5e6060;
              transition: all 200ms linear;
            }
            &:not(:last-child){
              border-bottom: 1px solid #8d8d8d;
            }
            &:nth-of-type(1){
              img{
                width: 75px;
                position: absolute;
                top: 40px;
                right: 30px;
              }
            }
            &:nth-of-type(2){
              img{
                width: 70px;
                position: absolute;
                top: 40px;
                right: 30px;
              }
            }
            &:nth-of-type(3){
              img{
                width: 60px;
                position: absolute;
                top: 30px;
                right: 30px;
              }
            }
            &:nth-of-type(4){
              img{
                width: 65px;
                position: absolute;
                top: 30px;
                right: 30px;
              }
            }
            span{
              @include Noto_Serif(300);
              font-size: 11px;
              text-align: left;
              color: #fff;
              margin-bottom: 10px;
              display: block
            }
            h3{
              @include Marcellus(400);
              font-size: 23px;
              text-align: left;
              color: #fff;
              margin-bottom: 25px;
            }
            p{
              @include Noto_Serif(300);
              font-size: 16px;
              text-align: justify;
              color: #dddddd;
            }
            .arrow_img{
              text-align: right;
              margin-top: 20px;
              a{
                img{
                  width: 44px;
                  position: unset;
                }
              }
            }
          }
        }
      }
      
    }
  }

  .sect_5{
    .wrapper{
      padding-top: 70px;
      padding-bottom: 80px;
      .container{
        .row{
          &:not(:last-child){
            margin-bottom: 75px;
          }
          .col{
            &:first-child{
              width: 100%;
              p{
                @include Noto_Serif(300);
                font-size: 15px;
                text-align: left;
                color: #161616;
                margin-bottom: 12.5px;
              }
              h3{
                @include Marcellus(400);
                font-size: 34px;
                text-align: left;
                color: #161616;
                margin-bottom: 25px;
              }
              a{
                display: none;
                width: 230px;
                text-align: center;
                @include Marcellus(400);
                font-size: 14px;
                color: #565656;
                border: 1px solid #dddddd;
                padding: 20px 0;
                position: relative;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #dddddd;
                  position: absolute;
                  top: 50%;
                  right: 30px;
                  transform: translate(0, -50%);
                }
              }
            }
            &:last-child{
              width: 100%;
              .img_cont{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .img_col{
                  width: 49%;
                  margin-bottom: 30px;
                  &:nth-child(2n+2){
                    margin-left: 2%;
                  }
                  .img_wrap{
                    position: relative;
                    overflow: hidden;
                    &:hover{
                      .p_head{
          
                        &::after{
                          opacity: 1;
                          width: 100%;
                        }
                        
                        p{
                          transform: translate(0, 0);
                          opacity: 1;
                        }
                      }
                      img{
                        transform: scale(1.05) rotate(3deg);
                      }
                    }
                    img{
                      width: 100%;
                      transition: 0.5s ease
                    }
                    .p_head{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
      
                      &::after{
                        content: "";
                        opacity: 0;
                        transition: 0.5s ease;
                        // display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 95%;
                        height: 100%;
                        background-color: rgba(43, 43, 43, 0.66);
                        z-index: 1;
                      }
      
                      p{
                        @include Noto_Serif(300);
                        font-size: 15px;
                        color: #fff;
                        text-align: center;
                        background-color: transparent;
                        width: 100%;
                        opacity: 0;
                        transform: translate(0, 20px);
                        transition: 0.3s ease;
                        -moz-transition-delay: 100ms;
                        -webkit-transition-delay: 100ms;
                        -o-transition-delay: 100ms;
                        -ms-transition-delay: 100ms;
                        position: relative;
                        z-index: 2;
                      }
                    }
                  }
                  .desc{
                    margin-top: 15px;
                    @include Noto_Serif(300);
                    font-size: 15px;
                    text-align: left;
                    color: #565656;
                  }
                }
              }
              .btn_viewmore_sp{
                display: block;
                width: 201px;
                text-align: center;
                @include Marcellus(400);
                font-size: 15px;
                color: #565656;
                border: 1px solid #dddddd;
                padding: 20px 0;
                position: relative;
                margin-top: 10px;
                transition: .3s ease;
                &:hover{
                  color: #fff;
                  &::before{
                    width: 100%;
                  }
                  &::after{
                    background-color: #fff;
                  }
                }
                &::after{
                  content: "";
                  display: block;
                  transition: .3s ease;
                  width: 20px;
                  height: 1px;
                  background-color: #dddddd;
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translate(0, -50%);
                }
                &::before{
                  content: "";
                  transition: .3s ease;
                  display: block;
                  width: 0;
                  height: 100%;
                  background-color: #585959;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  z-index: -1;
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
  }

}
