/*==================================
  Top
==================================*/
#Top main {

  .sect_5{
    .wrapper{
      padding-top: 70px;
      padding-bottom: 80px;
      .container{
        .row{
          &:not(:last-child){
            margin-bottom: 75px;
          }
          .col{
            &:first-child{
              width: 100%;
              p{
                @include Noto_Serif(300);
                font-size: 15px;
                text-align: left;
                color: #161616;
                margin-bottom: 12.5px;
              }
              h3{
                @include Marcellus(400);
                font-size: 34px;
                text-align: left;
                color: #161616;
                margin-bottom: 25px;
              }
              a{
                display: none;
                width: 230px;
                text-align: center;
                @include Marcellus(400);
                font-size: 14px;
                color: #565656;
                border: 1px solid #dddddd;
                padding: 20px 0;
                position: relative;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #dddddd;
                  position: absolute;
                  top: 50%;
                  right: 30px;
                  transform: translate(0, -50%);
                }
              }
            }
            &:last-child{
              width: 100%;
              .img_cont{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .img_col{
                  width: 49%;
                  margin-bottom: 30px;
                  position: relative;
                  overflow: hidden;
                  img{
                    width: 100%;
                  }
                  .desc{
                    margin-top: 15px;
                    @include Noto_Serif(300);
                    font-size: 15px;
                    text-align: left;
                    color: #565656;
                  }
                }
              }
              a{
                display: block;
                width: 201px;
                text-align: center;
                @include Marcellus(400);
                font-size: 15px;
                color: #565656;
                border: 1px solid #dddddd;
                padding: 20px 0;
                position: relative;
                margin-top: 10px;
                &::after{
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background-color: #dddddd;
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
  }

}
